.bloghead {
  font-family: 'Pacifico';
  color: #d80032;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: 0.145em;
}

.opis {
  color: #8d99ae;
}

.dvis {
  width: 221px;
  height: 60px;
  background-color: #2b2d42;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}
