.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/hero.png);
  // background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  // display: flex;
  // align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #edf2f4;
}

.subtitle {
  // margin-top: 40vh;
  padding: 10px;
  text-align: center;
  background: #f3f4f6;
  mix-blend-mode: luminosity;
  border-radius: 15px;
}
